body {
        font-size: 20px;
        font-family: sans-serif;
      }
      .wrab {
        width: 1920px;
        margin: auto;
      }

      main {
        height: 950px;
        position: relative;
        top: 0px;
        left: 0;
      }
      .logoa {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100px;
        z-index: 9;
        margin-bottom: 0px;
        background: rgba(15, 15, 15, 0.616);
      }
      header {
        background: rgba(15, 15, 15, 0.616);
        z-index: 999;
      }
      .logo {
        width: 130px;
        height: 50px;
        padding-top: 40px;
        margin: auto;
      }
      .logo img {
        width: 100%;
      }
      .gnb > ul > li > a > span {
        color: white;
      }
      li:hover span {
        text-shadow: 0px 0px 10px white;
      }
      .ct1 {
        height: 100px;
        display: flex;
        justify-content: center;
        padding-top: 10px;
      }
      .c1 {
        width: 264px;
        height: 100px;
      }
      .c1e {
        width: 264px;
        height: 100px;
        padding-top: 25px;
      }
      .c1-1 {
        border: 1px solid black;
        width: 224px;
        height: 40px;
        margin: auto;
        padding: 3px;
      }
      .select {
        font-size: 20px;
        text-align: center;
        color: rgb(170, 170, 170);
        margin-bottom: 18px;
      }
      .hotel {
        font-size: 17px;
        text-align: center;
        font-weight: bold;
      }
      .check {
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        padding-top: 3px;
      }
      .reservation {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
      }
      .ct1 span {
        font-size: 12px;
      }

      .title {
        text-align: center;
        padding-top: 80px;
      }
      .title2 {
        text-align: center;
        color: white;
        background: rgb(175, 141, 93);
        padding-top: 80px;
      }

      .ct2 {
        height: 600px;
        display: flex;
        justify-content: center;
      }
      .c2l,
      .c2r {
        margin-top: 100px;
      }
      .c2l {
        width: 660px;
        height: 400px;
      }
      .c2r {
        width: 660px;
        height: 300px;
      }
      .c2l img,
      .c2r img {
        width: 100%;
        height: 100%;
      }
      .ct2 p {
        font-size: 18px;
        padding-top: 20px;
      }
      .t2 {
        text-align: right;
        margin-top: -30px;
      }
      .ct3 {
        background: rgb(175, 141, 93);
        height: 600px;
        display: flex;
        justify-content: center;
        padding-top: 100px;
      }
      .c3l {
        width: 660px;
        height: 400px;
      }
      .c3r {
        width: 660px;
        height: 300px;
        text-align: center;
      }
      .c3l img,
      .c3r img {
        width: 100%;
        height: 100%;
      }
      .ct3 p {
        font-size: 18px;
        padding-top: 20px;

      }
     .ct3 a
        {
            color: white;
        }
      .t2 {
        text-align: right;
        margin-top: -30px;
      }
      .ct4 {
        height: 650px;
        display: flex;
        justify-content: space-between;
      }
      .c4l,
      .c4c,
      .c4r {
        margin-top: 150px;
      }
      .c4l {
        width: 500px;
        height: 400px;
      }
      .c4c {
        width: 820px;
        height: 400px;
      }
      .c4r {
        width: 500px;
        height: 400px;
      }
      .c4l img,
      .c4c img,
      .c4r img {
        width: 100%;
        height: 100%;
      }

      .ct5 {
        height: 900px;
        padding-top: 100px;
      }
      .mv {
        width: 1510px;
        height: 750px;
        margin: auto;
      }
      video {
        width: 1510px;
        height: 750px;
        object-fit: fill;
      }

      .ct6 {
        height: 400px;
        display: flex;
        justify-content: center;
      }
      .c6 {
        width: 200px;
        height: 200px;
        margin: 100px 50px;
      }
      .ct6 p {
        font-size: 17px;
        color: dimgray;
        margin-top: 20px;
      }

      .hover-effect:hover {
        transform: scale(1.2); /* 약간 확대 */
        transition: transform 0.3s ease; /* 부드럽게 */
        filter: brightness(1.2);
        transition: 0.3s;
      }


      .hover-effect2:hover {
        transform: scale(1.2); /* 약간 확대 */
        filter: brightness(1.1);
        transition: 0.5s;
        border-radius: 50px;

      }


      .hover-effect3:hover {
        filter: brightness(1.1);
        transition: 0.5s;
      }


      footer {
        height: 300px;
        background: rgb(43, 43, 43);
        color: white;
        text-align: center;
      }
      footer h2 {
        padding-top: 50px;
        font-size: 30px;
      }
      footer h3 {
        padding-top: 35px;
        font-size: 16px;
      }
      footer p {
        padding-top: 30px;
        font-size: 12px;
      }

      /*슬라이더 관련 스타일 추가한것*/
      /*추가한 부분*/
      /*추가한 부분*/
      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper {
        margin-left: auto;
        margin-right: auto;
      }
      /**/ /**/ /**/
      body.loading {
        opacity: 0.5;
        transition: opacity 0.3s ease;
        pointer-events: none;
      }